<ul>
  {%- for product in collection.products -%}
    <li>
      {%- render 'product-card', product: product -%}
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "t:product-grid.name"
}
{% endschema %}
